body {
    background-image: url("/static/stego/stego/images/starfield-gb63e04d29_1920.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.formEncoder {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    align-items: center;
    color: #9334c9;
    font-family: 'Orbitron', sans-serif;
    font-weight: bolder;
    font-size: 2rem;
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(1.25rem);
    border-top: 1px solid rgba(255,255,255,0.2);
    border-left: 1px solid rgba(255,255,255,0.2);
    box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
    border-radius: 0.5rem;
    text-align: center;
}

.submitButton {
    text-decoration: none;
    font-size: 2rem;
    color: #9334c9;
    background-color: rgba(255,255,255,0.05);
    border: #9334c9 0.1rem solid;
    border-radius: .25em;
    font-family: 'Orbitron', sans-serif;
    font-weight: bolder;
    backdrop-filter: blur(1.25rem);
}


input {
    text-decoration: none;
    font-size: 2rem;
    color: #9334c9;
    background-color: rgba(255,255,255,0.05);
    border: #9334c9 0.1rem solid;
    border-radius: .25em;
    font-family: 'Orbitron', sans-serif;
    font-weight: bolder;
    backdrop-filter: blur(1.25rem);
}

